/* PropertyCard.css */
.property-card-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    padding: 40px; /* Add padding around the card */
    background-color: #f0f8ff; /* Light background for the container */
    min-height: 100vh; /* Ensure the container takes full viewport height */
    align-items: center; /* Center vertically */
    padding: 1rem;
  }
  
  body.dark-mode .property-card-container {
    background-color: #121212; /* Dark background for the container */
  }
  
  .property-card {
    width: 380px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    font-family: sans-serif;
    background-color: #fff;
    color: #333;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    
    
  }
  
  body.dark-mode .property-card {
    background-color: #222;
    color: #eee;
  }
  
  .image-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: .5rem;
   
  }
  
  .property-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .property-details {
    padding: 20px;
    height: auto;
    /* flex-grow: 1; */

  }
  
  .address {
    font-size: 1.1em;
    font-weight: 600;
    margin-bottom: 8px;
  }
  
  .price-range {
    font-size: 1em;
    color: #007bff;
    margin-bottom: 12px;
    font-weight: 500;
  }
  
  .score {
    font-size: 1em;
    color: #28a745;
    background-color: #e6f4ea;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
  }
  
  .score span {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #d1e9d8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 8px;
    background-color: #28a745;
    color: white;
  }
  
  body.dark-mode .score,
  body.dark-mode .price-range {
    color: #66b3ff;
  }
  
  body.dark-mode .score {
    color: #90ee90;
    background-color: #334036;
  }
  
  body.dark-mode .score span {
    background-color: #4a5a4d;
  }